<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="AdoFactories" type="UpgradeHelpers.DB.AdoFactoriesConfigurationSection, UpgradeHelpers.DB.Essentials-NetStandard" allowExeDefinition="MachineToApplication" allowLocation="true" />
    </configSections>
    <AdoFactories>
        <Factories>
            <add name="Access" factorytype="System.Data.Odbc" isdefault="true" databasetype="Access" />
        </Factories>
    </AdoFactories>
</configuration>
